## Week 5 Assignment

### By Kimesha Josephs

1. What is the northernmost airport in the United States?
2. What is the easternmost airport in the United States?
3. On February 12th, 2013, which New York area airport had the windiest weather?

In order to answer these questions we first must import pandas.

In [1]:
import pandas as pd

Then we must import the source file.

In [5]:
airports = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv", 
                       na_values=["\\N"])

Then we display the first 5 rows from the source sorted in order to find the Northern most airport.

In [6]:
airports.head()
airports.sort_values("lat", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

### 1. What is the northernmost airport in the United States?
According to the data Dillant Hopkins Airport is the northernmost airport, which after doing some reasearch is incorrect. According to <a href="http://www.planeandpilotmag.com/article/plane-facts/#.Wp2TbGaZP-Y">Plane Facts</a>, Wiley Post-Will Rogers Memorial Airport, Alaska is the Northern most airport in the United States.

We can have the data show the true result by cleaning it.

In [12]:
airports = airports.dropna(how='any')
airports.sort_values("lat", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9.0,A,America/Anchorage

### 2. What is the easternmost airport in the United States?

We will find the by sorting by longitude.

In [22]:
airports.sort_values("lon", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9.0,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8.0,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8.0,A,Asia/Chongqing
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York

According to the data Houlton Intl is the most Eastern airport but according to <a href="https://owlcation.com/stem/-Eastern-Most-Point-in-the-Continental-USA-or-First-to-See-the-Sun-Rise-Are-They-the-Same-Place">Owlcation</a> Eastport Municipal Airport is the most eastern airport

### 3. On February 12th, 2013, which New York area airport had the windiest weather?

For this quest we now need to import the data for weather

In [9]:
import pandas as pd
weather = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

Then we need to filter the data and sort by the specifiation.

In [15]:
weather[(weather['year'] == 2013)&(weather['month'] == 2)& (weather['day'] == 12)&
        (weather.wind_gust < 500)].sort_values(by = ['wind_gust'], ascending=False).head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18433,LGA,2013,2,12,7,42.98,26.06,50.94,290.0,23.01560,26.485892,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1024,EWR,2013,2,12,17,44.06,26.06,48.87,270.0,21.86482,25.161598,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18444,LGA,2013,2,12,18,44.06,23.00,43.02,300.0,21.86482,25.161598,0.0,1011.7,10.0,2013-02-12T18:00:00Z
1014,EWR,2013,2,12,7,39.92,28.04,62.21,270.0,20.71404,23.837303,0.0,1007.8,10.0,2013-02-12T07:00:00Z
9728,JFK,2013,2,12,13,42.08,24.08,48.56,280.0,20.71404,23.837303,0.0,1011.6,10.0,2013-02-12T13:00:00Z

Based on the information LGA airport located in NYC was the windiest airport on February 12th, 2013. We can chack our data here <a href="https://www.wunderground.com/history/airport/KLGA/2013/2/12/DailyHistory.html?req_city=La+Guardia&req_state=NY&req_statename=New+York&reqdb.zip=11371&reqdb.magic=6&reqdb.wmo=99999">Weather</a>